/* Page styling */

html, body {
    height: 100%
}

body {
	padding-top: 50px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #FFF;
    background-color: #FF704D;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}

.navbar-inverse, .navbar-collapse {
	background-color: #FF3300;
	border-color: #FF704D;
}

.navbar-inverse .navbar-brand  {
	color: #FFF;
	font-size: 24px;
}

/* profile style - about.php */

.image-cell-spaceing {
	margin-right: 25px;
	margin-bottom: 25px;
}

.top {
	margin-top: 0;
}

.top-align {
	vertical-align: top;
}

.profile-pic-width {
	width: 125px;
}

.grey {
	color: #777;
}

#markdown-preview {
	min-height: 548px;
	padding: 20px;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

#container {
	min-height: 100%;
	height: auto;
	margin: 0 auto -50px;
	padding: 0 0 50px;
}

#footer {
	height: 50px;
	opacity: 0.8;
}

.justify {
	text-align: justify;
}

.border {
	border: 1px solid rgb(204, 204, 204);
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.1) inset;
}

figure {
	display: table;
}

figcaption {
	font-style: italic;
	font-size: smaller;
}

.row.script-preview {
	border-bottom: 1px dashed rgb(204, 204, 204);
	margin-bottom: 20px;
	padding-bottom: 20px;
}